apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "hcloud-fip-k8s.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "hcloud-fip-k8s.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "hcloud-fip-k8s.selectorLabels" . | nindent 6 }}
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        checksum/config: {{ (tpl .Values.config $) | sha256sum }}
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "hcloud-fip-k8s.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "hcloud-fip-k8s.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      terminationGracePeriodSeconds: {{ .Values.leaderElection.renewDeadline }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - -config
            - /config/config.yaml
            {{- toYaml .Values.extraArgs | nindent 12 }}
          env:
            {{- toYaml .Values.env | nindent 12 }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
            - name: metrics
              containerPort: {{ .Values.metrics.port }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: {{ .Values.leaderElection.leaseDuration }}
            periodSeconds: {{ add .Values.leaderElection.leaseDuration (div .Values.leaderElection.renewDeadline 2) }}
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: {{ .Values.leaderElection.renewDeadline }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
          - name: config
            mountPath: /config
          {{ range $vol := .Values.extraVolumes -}}
          - name: {{ required "extraVolumes[].name required" $vol.name }}
            mountPath: {{ required "extraVolumes[].mountPath required" $vol.mountPath }}
          {{ end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      - name: config
        configMap:
          name: {{ include "hcloud-fip-k8s.fullname" . }}-config
      {{ range $index, $vol := .Values.extraVolumes -}}
      - name: {{ $vol.name }}
        {{- toYaml (required "extraVolumes[].source missing" $vol.source) | nindent 8 }}
      {{- end }}